version: "3.9"

services:
  framework:
    build:
      context: ..
      dockerfile: docker/Dockerfile.framework
    working_dir: /app
    volumes:
      - ..:/app
    profiles: ["emu", "eval"]
    entrypoint: ["bash", "docker/entrypoints/run_emu.sh"]
