{
  "topology_file": "${TOPOLOGY_FILE}",
  "lab_name": "${LAB_NAME}",
  "sudo": ${USE_SUDO},
  "reconfigure": ${RECONFIGURE},
  "env": {
    "CLAB_NODE_IMAGE": "${CLAB_NODE_IMAGE}",
    "CLAB_MGMT_NETWORK": "${CLAB_MGMT_NETWORK}",
    "CLAB_MGMT_IPV4_SUBNET": "${CLAB_MGMT_IPV4_SUBNET}",
    "CLAB_MGMT_IPV6_SUBNET": "${CLAB_MGMT_IPV6_SUBNET}",
    "CLAB_MGMT_EXTERNAL_ACCESS": "${CLAB_MGMT_EXTERNAL_ACCESS}"
  },
  "config_dir": "${CONFIG_DIR}",
  "management_http_ports": {}
}

